  
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
 
h1 {
    display: flex;
    justify-content: center;
    font-weight:lighter;
    width: 360px;
}

#top {
    display: flex;
    flex-direction: column;
}

#logoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 360px;
    align-items: center;
}

#btnRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
    align-items: center;
    margin-top: -18px;
    width: 360px;
}

.logo {
    width: 30%;
    height: 30%;
    object-fit: contain;
}

#dbLogo {
    width: 25%;
    height: auto;
}

#BigYId {
    background-position: center;
    border: none;
    font-size: 16px;
    width: 130px;
    text-align: center;
    background-color: white;
}

#BJsId {
    background-position: center;
    border: none;
    font-size: 16px;
    width: 130px;
    margin-left: 25px;
    text-align: center;
    background-color: white;
}

#addToDatabase {
    background-position: center;
    border: none;
    font-size: 16px;
    width: 130px;
    text-align: center;
    background-color: white;
}

#msgRow {
    padding-left: 5px;
    padding-top: 20px;
}

ul {
    list-style-type: none;  /* removes bullets */
    padding-left: 0;        /* removes left indentation */
}

