  
body {
    background-color: hsl(170, 39%, 28%);
    color: #f6f6f6;
    font-size: 24px;
}
 
h1 {
    display: flex;
    justify-content: center;
}

#top {
    display: flex;
    flex-direction: column;
}

#btnRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#dropdownId {
    font-size: 20px;
}

#addToDatabase {
    font-size: 20px;
}

ul {
    list-style-type: none;  /* removes bullets */
    padding-left: 0;        /* removes left indentation */
}

